/* Full-screen container */
.start-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Blurred background image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/assets/background.jpg'); /* Path to background image */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Add blur effect */
  z-index: -2;
}

/* Dark overlay for better text readability */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay */
  z-index: -1;
}

/* Larger content box with padding */
.content {
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px;  /* Increase padding */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 90%;  /* Increased width */
  max-width: 700px;  /* Maximum width for large screens */
}

/* Heading styles */
.heading {
  font-size: 3rem;  /* Larger heading */
  color: #0056b3;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Description styles */
.description {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 40px;
}

/* Get Started button */
.login-button {
  padding: 15px 50px; /* Increased button size */
  background-color: #29baea;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #035671;
}



/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .login-button {
    font-size: 1.2rem;
  }

  .content {
    padding: 40px;
    max-width: 90%;
  }
}
